<% provide(:title, t("devise.registrations.edit.title")) %>
<% provide(:submit_text, t("devise.registrations.edit.update")) %>
<% provide(:action, "PUT") %>
<h2><%= t(".title") %></h2>

<%= render 'user_form' %>

<h3><%= t(".cancel_my_account") %></h3>

<%= button_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete %>

<%= link_to t(".back"), :back %>
