<%= form_for [@portfolio, @progress, @comment], remote: yield(:remote).presence do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.rich_text_area :comment, id: (yield(:id).presence || "comment_comment") %>

  <div class="comment-form-footer">
    <div class="star">
      <% unless current_user == @portfolio.user %>
        <div id="star">
          <%= f.hidden_field :evaluation, id: :review_star %>
        </div>
      <% end %>
    </div>

    <%= f.submit yield(:submit_text), class: "btn btn-primary" %>
  </div>

  <script>
    $('#star').raty({
      size     : 36,
      starOff:  "<%= asset_pack_path 'images/star-off.png' %>",
      starOn : "<%= asset_pack_path 'images/star-on.png' %>",
      starHalf: "<%= asset_pack_path 'images/star-half.png' %>",
      scoreName: "comment[evaluation]",
      half: true,
    });
  </script>
<% end %>
