<% provide(:title, t(".title", portfolio_title: @portfolio.title)) %>
<div class="portfolio-show">
  <main class="portfolio-whole <%= "before-login" unless user_signed_in? %>">
    <%= render "shared/portfolio_info", portfolio: @portfolio %>
    <div class="progress-whole progress-index">
      <h2 class="py-2">プログレス 一覧</h2>
      <ol>
        <% @progresses.each do |progress| %>
          <li id="progress-<%= progress.id %>">
            <div class="progress-header">
              <span><%= link_to "##{get_number(@portfolio, progress)}", portfolio_progress_path(@portfolio, progress), class: "id" %> </span>
              <% if progress.has_any_evaluations? %>
                <span class="average_evaluation">評価：<%= progress.average_evaluation %></span>（<%= progress.comments.count %> 件）
              <% end %>
              <% if current_user?(@portfolio.user) %>
                <%= link_to edit_portfolio_progress_path(@portfolio, progress) do %>
                  <span class="edit"><i class="fas fa-pencil-alt"></i> <%= t("btn.edit") %></span>
                <% end %>
              <% end %>
            </div>
            <div class="content"><%= extract_content(progress.content, length: 200) %></div>

            <% if progress.has_any_evaluations? %>
              <script>
                $('#progress-<%= progress.id %> .average_evaluation').raty({
                  size: 36,
                  starOff:  "<%= asset_pack_path 'images/star-off.png' %>",
                  starOn : "<%= asset_pack_path 'images/star-on.png' %>",
                  starHalf: "<%= asset_pack_path 'images/star-half.png' %>",
                  half: true,
                  readOnly: true,
                  score: <%= progress.average_evaluation %>
                });
              </script>
            <% end %>
          </li>
        <% end %>
      </ol>
    </div>
  </main>
  <aside>
    <%= render "shared/portfolio_sidebar", portfolio: @portfolio %>
  </aside>
</div>
