<% provide(:title, t(".title", portfolio_title: @portfolio.title)) %>
<h1><%= @portfolio.title %></h1>
<h2>プログレス一覧</h2>
<ol>
  <% @progresses.each do |progress| %>
  <li id="progress-<%= progress.id %>">
    <%= link_to "##{get_number(@portfolio, progress)}", portfolio_progress_path(@portfolio, progress), class: "id" %>
    <% unless progress.comments.count == 0 %>
      <span class="evaluation">評価：<%= average_evaluation(progress) %>（<%= progress.comments.count %> 件）</span>
    <% end %>
    <span class="content"><%= progress.content %></span>
    <% if @portfolio.user == current_user %>
      <%= link_to t("btn.edit"), edit_portfolio_progress_path(@portfolio, progress) %>
      <%= link_to t("btn.delete"), portfolio_progress_path(@portfolio, progress), method: :delete,
                  data: { confirm: t("common.delete_confirmation") } %>
    <% end %>

    <% unless progress.comments.count == 0 %>
      <script>
      $('.evaluation').raty({
        size: 36,
        starOff:  "<%= asset_pack_path 'images/star-off.png' %>",
        starOn : "<%= asset_pack_path 'images/star-on.png' %>",
        starHalf: "<%= asset_pack_path 'images/star-half.png' %>",
        half: true,
        readOnly: true,
        score: <%= average_evaluation(progress) %>
      });
      </script>
    <% end %>
  </li>
  <% end %>
</ol>
