<li id="portfolio-<%= portfolio.id %>">
  <%= link_to portfolio.user.username, portfolio.user %>
  <span class="timestamp">
    <%= t("common.time_ago", time: time_ago_in_words(portfolio.created_at)) %>
  </span>
  <% unless portfolio.pageview == nil %>
    <span class="pageview">
      <%= t("common.pageview", score: portfolio.pageview) %>
    </span>
  <% end %>
  <% if user_signed_in? %>
    <%= render 'favorites/favorite_form', { portfolio: portfolio, user: user } %>
  <% end %>
  <%= link_to portfolio.title, portfolio, class: "title" %> <span class="favorite_count">(<%= portfolio.favorite_users.count %>)</span><br>
  <%= link_to t("portfolios.show.web_url"), portfolio.web_url, class: "web_url" %>
  <%= link_to t("portfolios.show.git_url"), portfolio.git_url, class: "git_url" %>
</li>
