<li id="portfolio-<%= portfolio.id %>">
  <span class="user"><%= link_to portfolio.user.username, portfolio.user %></span>
  <% if user_signed_in? %>
    <%= render 'favorites/favorite_form', { portfolio: portfolio, user: user } %>
  <% end %>
  <span class="title"><%= portfolio.title %></span> <span class="favorite_count">(<%= portfolio.favorite_users.count %>)</span>
  <span class="content"><%= portfolio.content %></span>
  <% if portfolio.image? %>
    <%= image_tag portfolio.image.url, class: "image" %>
  <% end %>
  <%= link_to portfolio.web_url, portfolio.web_url, class: "web_url" %>
  <%= link_to portfolio.git_url, portfolio.git_url, class: "git_url" %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(portfolio.created_at) %> ago.
  </span>
  <% if current_user?(portfolio.user) %>
    <%= link_to "削除する", portfolio, method: :delete,
                                     data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>
