<li>
  <div id="portfolio-<%= portfolio.id %>" class="media">
    <%= link_to portfolio, class: "portfolio-image mr-3" do %>
      <% if portfolio.image.url == nil %>
        <img src="<%= asset_pack_path 'images/noimage.jpg' %>" />
      <% else %>
        <%= image_tag portfolio.image.url %>
      <% end %>
    <% end %>
    <div class="media-body">
      <h4><%= link_to portfolio.title, portfolio, class: "title" %></h4>
      <% if portfolio.web_url.blank? %>
        <div class="btn portfolio-url without-url">
          <i class="fas fa-desktop"></i> <%= t("portfolios.show.web_url") %>
        </div>
      <% else %>
        <%= link_to portfolio.web_url, class: "btn portfolio-url" do %>
          <i class="fas fa-desktop"></i> <%= t("portfolios.show.web_url") %>
        <% end %>
      <% end %>
      <% if portfolio.git_url.blank? %>
        <div class="btn portfolio-url without-url">
          <i class="fab fa-github"></i> <%= t("portfolios.show.git_url") %>
        </div>
      <% else %>
        <%= link_to portfolio.git_url, class: "btn portfolio-url" do %>
          <i class="fab fa-github"></i> <%= t("portfolios.show.git_url") %>
        <% end %>
      <% end %>
      <div class="portfolio-info">
        <span class="portfolio-info-user">
          by <%= link_to portfolio.user.username, portfolio.user %>
          <%= t("common.created_date", date: l(portfolio.created_at.to_date)) %>
        </span>
        <% if portfolio.pageview != nil %>
          <span class="pageview">
            <%= t('common.pageview', count: portfolio.pageview) %>
          </span>
        <% elsif portfolio.user == current_user %>
          <span class="pageview">
            <%= t('common.pageview', count: score(portfolio)) %>
          </span>
        <% end %>
        <span class="d-inline-block">
          <% if user_signed_in? %>
            <%= render 'favorites/favorite_form', { portfolio: portfolio, user: user } %>
          <% else %>
            <div id="favorite_form">
              <div class="btn btn-unfavorite">
                <i class='far fa-thumbs-up'></i> <%= portfolio.favorite_users.count %>
              </div>
            </div>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</li>
