<% provide(:title, t(".title", portfolio_title: @portfolio.title)) %>
<% provide(:submit_text, t("btn.create")) %>
<div class="portfolio-show">
  <main class="portfolio-whole <%= "before-login" unless user_signed_in? %>">
    <div class="portfolio-header">
      <%= link_to set_user_image(@portfolio.user), @portfolio.user %>
      <%= link_to @portfolio.user.username, @portfolio.user %>
      <span class="timestamp">
        <%= @portfolio.created_at.strftime("%Y年%-m月%-d日") %>に作成
      </span>
      <% if current_user?(@portfolio.user) %>
        <span class="pageview">
          <%= t("common.pageview", score: score(@portfolio)) %>
        </span>
        <%= link_to edit_portfolio_path(@portfolio) do %>
          <span class="edit"><i class="fas fa-pencil-alt"></i> <%= t("btn.edit") %></span>
        <% end %>
      <% end %>
    </div>
    <h1 class="title"><%= @portfolio.title %></h1>
    <% if @portfolio.image? %>
      <%= image_tag @portfolio.image.url, class: "image" %>
    <% end %>
    <div class="content"><%= @portfolio.content %></div>
    <hr>
    <div class="progress-user">
      <%= link_to set_user_image(@portfolio.user), @portfolio.user %>
      <div class="user-info">
        <%= link_to @portfolio.user.username, @portfolio.user %>
        <div class="profile"><%= @portfolio.user.profile %></div>
        <%= render "users/follow_form", user: @portfolio.user if user_signed_in? %>
      </div>
    </div>
    <div class="progress-whole">
      <h2 class="py-2">プログレス</h2>
      <div class="progress-header">
        <%= link_to "##{get_number(@portfolio, @progress)}", portfolio_progress_path(@portfolio, @progress), class: "id" %>
        <% if @progress.has_any_evaluations? %>
          <span class="average_evaluation">評価：<%= @progress.average_evaluation %></span>（<%= @progress.comments.count %> 件）
        <% end %>
        <% if current_user?(@portfolio.user) %>
          <span class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-cog"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <li><%= link_to t("btn.edit"), edit_portfolio_progress_path(@portfolio, @progress) %></li>
              <li><%= link_to t(".progress_new"), new_portfolio_progress_path(@portfolio) %></li>
            </ul>
          </span>
        <% end %>
      </div>
      <div class="content"><%= @progress.content %></div>
      <% unless @comments == nil %>
      <div class="comments">
        <ol>
          <%= render @comments, portfolio: @portfolio, progress: @progress %>
        </ol>
      </div>
      <% end %>
      <div class="comment-form">
        <%= link_to set_user_image(@portfolio.user), @portfolio.user, class: "user-image" %>
        <strong>コメントを投稿する</strong>
        <%= render "comments/comment_form" %>
      </div>
    </div>
  </main>
  <aside>
    <div class="portfolio-side">
      <% if user_signed_in? %>
        <div class="btn btn-outline-primary portfolio-side-list relative">
          <%= render "favorites/favorite_form", { portfolio: @portfolio, user: @portfolio.user }  %>
        </div>
        <div class="btn btn-outline-dark portfolio-side-list relative">
          <%= link_to portfolio_progresses_path(@portfolio), class: "progress_index" do %>
            <span><%= t(".progress_index") %> (<%= @portfolio.progresses.count %>)</span>
          <% end %>
        </div>
      <% end %>
      <%= link_to t(".web_url"), @portfolio.web_url, class: "btn btn-outline-success portfolio-side-list" %>
      <%= link_to t(".git_url"), @portfolio.git_url, class: "btn btn-outline-secondary portfolio-side-list" %>
    </div>
  </aside>
</div>

<% if @progress.has_any_evaluations? %>
  <script>
    $('.average_evaluation').raty({
      size: 36,
      starOff:  "<%= asset_pack_path 'images/star-off.png' %>",
      starOn : "<%= asset_pack_path 'images/star-on.png' %>",
      starHalf: "<%= asset_pack_path 'images/star-half.png' %>",
      half: true,
      readOnly: true,
      score: <%= @progress.average_evaluation %>
    });
  </script>
<% end %>
