<% provide(:title, t(".title", portfolio_title: @portfolio.title)) %>
<% provide(:submit_text, t("btn.create")) %>
<div class="portfolio-show">
  <main class="portfolio-whole <%= "before-login" unless user_signed_in? %>">
    <%= render "shared/portfolio_info", portfolio: @portfolio %>
    <% if @portfolio.image? %>
      <%= image_tag @portfolio.image.url, class: "image" %>
    <% end %>
    <div class="content"><%= @portfolio.content %></div>
    <hr>
    <div class="progress-user">
      <%= link_to set_user_image(@portfolio.user), @portfolio.user %>
      <div class="user-info">
        <%= link_to @portfolio.user.username, @portfolio.user %>
        <div class="profile"><%= @portfolio.user.profile %></div>
        <%= render "users/follow_form", user: @portfolio.user if user_signed_in? %>
      </div>
    </div>
    <%= render "shared/portfolio_progress", portfolio: @portfolio, progress: @progress, comments: @comments %>
  </main>
  <aside>
    <%= render "shared/portfolio_sidebar", portfolio: @portfolio %>
  </aside>
</div>
