<% provide(:title, t(".title")) %>
<div class="alert alert-light" role="alert">
  <strong><%= t(".title") %></strong>
</div>
<div class="top-page-info">
  <main class="main user-index <%= "before-login" unless user_signed_in? %>">
    <ul class="users">
      <%= render @users %>
    </ul>
    <%= paginate @users %>
  </main>
  <% if user_signed_in? %>
    <aside class="sidebar">
      <div class="stats-whole bg-white">
        <%= render 'shared/stats' %>
      </div>
    </aside>
  <% end %>
</div>
