<% if @path.is('users#show') %>
  <% provide(:title, t(".title", user_name: @user.username)) %>
<% elsif @path.is('users#favorites') %>
  <% provide(:title, t("users.favorites.title")) %>
<% else %>
  <% provide(:title, "") %>
<% end %>

<h1>Users#show</h1>
<section class="user_show fdb-block fp-active" data-block-type="testimonials" data-id="1">
  <div class="container">
    <div class="fdb-box">
      <div class="row align-items-center justify-content-center">
        <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-auto" style="z-index: 10000;">
          <p><%= image_tag @user.image.url if @user.image? %></p>
        </div>

        <div class="col-12 col-md-8 ml-auto mr-auto mt-4 mt-md-0" style="z-index: 10000;">
          <p class="lead"><%= @user.profile %></p>
          <p class="h3 mt-4 mt-lg-5"><strong><%= @user.username %></strong></p>
          <p><em>email: <%= @user.email %></em></p>
        </div>
      </div>
    </div>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' if user_signed_in? %>
  </div>
</section>
<section>
  <h3><%= @user.portfolios.count %> ポートフォリオ</h3>
  <% if @user.portfolios.any? %>
   <%= paginate @portfolios %>
   <ol class="portfolios">
     <%= render @portfolios, user: @user %>
   </ol>
   <%= paginate @portfolios %>
 <% end %>
</section>
