<%= form_for(@portfolio) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :content %>
    <%= f.rich_text_area :content %>

    <%= f.label :image %><br>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %><br>

    <%= f.label :web_url %>
    <%= f.text_field :web_url, class: 'form-control' %>

    <%= f.label :git_url %>
    <%= f.text_field :git_url, class: 'form-control' %>

    <% if controller.action_name = ("new" || "home") %>
      <div class="field">
        <%= f.fields_for :progresses do |g| %>
          <%= g.label :content %>
          <%= g.rich_text_area :content, id: "progress_content" %>
        <% end %>
      </div>
    <% end %>

  </div>
  <%= f.submit "#{yield(:submit_text)}", class: "btn btn-primary" %>
<% end %>
