<%= form_for(@portfolio) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

    <%= f.label t("shared.portfolio_form.title") %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label t("shared.portfolio_form.content") %>
    <%= f.rich_text_area :content %>

    <%= f.label t("shared.portfolio_form.image") %><br>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %><br>

    <%= f.label t("shared.portfolio_form.web_url") %>
    <%= f.text_field :web_url, class: 'form-control' %>

    <%= f.label t("shared.portfolio_form.git_url") %>
    <%= f.text_field :git_url, class: 'form-control' %>

  </div>
  <%= f.submit t("btn.create"), class: "btn btn-primary" %>
<% end %>
