<%= form_for(@portfolio) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <h2 class="py-2">ポートフォリオ</h2>

    <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>

    <%= f.rich_text_area :content, placeholder: "ポートフォリオを自由に紹介してください。" %>

    <%= f.label :image %><span>（16×9のサイズがキレイに収まります。）</span><br>
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %><br>

    <%= f.text_field :web_url, class: "form-control", placeholder: "WEBサイト URL" %>

    <%= f.text_field :git_url, class: "form-control", placeholder: "Github URL" %>

    <% if controller.action_name == "new" %>
      <h2 class="py-2">プログレス</h2>
      <div class="field">
        <%= f.fields_for :progresses do |g| %>
          <%= g.rich_text_area :content, class: "progress_content", placeholder: "最初のプログレスを記載してください。" %>
        <% end %>
      </div>
    <% end %>

    <div class="action">
      <%= f.submit "#{yield(:submit_text)}", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
