<%= form_for(@portfolio) do |f| %>
  <div class="field">

    <%= f.label "タイトル" %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label "内容" %>
    <%= f.rich_text_area :content %>

    <%= f.label "サムネイル画像" %><br>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %><br>

    <%= f.label "WEB URL" %>
    <%= f.text_field :web_url, class: 'form-control' %>

    <%= f.label "GIT URL" %>
    <%= f.text_field :git_url, class: 'form-control' %>

  </div>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>
