<% @user ||= current_user %>
<div class="stats-user-info border-bottom">
  <%= set_user_image(current_user) %> <%= current_user.username %>
</div>
<div class="stats">
  <a href="<%= following_user_path(@user) %>" class="stat">
    <strong id="following">
      <%= @user.following.count %>
    </strong><br>
    <span class="stat-label">フォロー</span>
  </a>
  <a href="<%= followers_user_path(@user) %>" class="stat border-left">
    <strong id="followers">
      <%= @user.followers.count %>
    </strong><br>
    <span class="stat-label">フォロワー</span>
  </a>
  <a href="<%= user_path(@user) %>" class="stat border-left">
    <strong id="favorites">
      <%= @user.favorite_portfolios.count %>
    </strong><br>
    <span class="stat-label">お気に入り</span>
  </a>
</div>
