<% if user_signed_in? %>
  <% @user ||= current_user %>
  <div class="stats-user-info border-bottom">
    <%= link_to set_user_image(current_user), current_user %>
    <span><%= link_to current_user.username, current_user %></span>
  </div>
  <div class="stats">
    <a href="<%= following_user_path(@user) %>" class="stat">
      <strong id="following">
        <%= @user.following.count %>
      </strong><br>
      <span class="stat-label"><%= t(".following") %></span>
    </a>
    <a href="<%= followers_user_path(@user) %>" class="stat border-left">
      <strong id="followers">
        <%= @user.followers.count %>
      </strong><br>
      <span class="stat-label"><%= t(".follower") %></span>
    </a>
    <a href="<%= user_path(@user) %>" class="stat border-left">
      <strong id="favorites">
        <%= @user.favorite_portfolios.count %>
      </strong><br>
      <span class="stat-label"><%= t(".favorite") %></span>
    </a>
  </div>
<% else %>
  <div class="stat-before-login">
    <h4><%= t(".before_login.sentence1") %></h4>
    <p><%= t(".before_login.sentence2") %></p>
    <ul>
      <li><%= t(".before_login.sentence3") %></li>
      <li><%= t(".before_login.sentence4") %></li>
      <li><%= t(".before_login.sentence5") %></li>
      <li><%= t(".before_login.sentence6") %></li>
      <li><%= t(".before_login.sentence7") %></li>
    </ul>
  </div>
<% end %>
