<footer class="footer">
  <%= link_to t("common.title"), root_path, class: "navbar-brand", id: "logo" %>
  <nav>
    <ul>
      <li><%= link_to t("common.terms"), terms_path %></li>
      <li><%= link_to t("common.policy"), policy_path %></li>
      <li><%= link_to t("common.help"), help_path %></li>
      <li><%= link_to t("common.about"), about_path %></li>
    </ul>
  </nav>
</footer>
