<footer class="footer">
  <small>
    <%= link_to "Port", '#', class: "navbar-brand", id: "logo" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "利用規約", terms_path %></li>
      <li><%= link_to "プライバシー", policy_path %></li>
      <li><%= link_to "ヘルプ", help_path %></li>
      <li><%= link_to "Portとは", about_path %></li>
    </ul>
  </nav>
</footer>
