<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <%= link_to "Port", root_path, class: "navbar-brand", id: "logo" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav mr-auto">　
          <li class="nav-item">
            <%= link_to "はじめに", about_path, class: "nav-link" %>
          </li>
        </ul>

        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item"><strong><%= link_to "投稿する", "#", class: "nav-link" %></strong></li>
            <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               マイアカウント
             </a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <li><%= link_to current_user.username, current_user %></li>
               <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
               <li class="dropdown-divider"></li>
               <% if @user.try(:admin?) %>
                 <li><%= link_to "管理画面", rails_admin_path %></li>
               <% end %>
               <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
             </ul>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "ユーザ登録", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
  </nav>
</header>
