<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <%= analytics_init if Rails.env.production? && GoogleAnalytics.valid_tracker? %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag "vendor" %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <%= render "shared/flash_messages" %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
